@charset "UTF-8";

@media screen and (min-width: 0) and (max-width: 320px) {
    #hamburger {
        display: block;
    }

    #desktop-nav {
        display: none;
    }

    /* ----------------------------- */
    /* ----------- MAIN -----------*/
    /* ----------------------------- */
    .img-section {
        display: none;
    }

    .section-text {
        text-align: center;
        width: 100%;
        transition: all 150ms linear;
    }

    .section-text p {
        padding: 5px;
        width: 95%;
        margin: 0 auto;
        font: 100 5vw/1.6em 'Quicksand';
        transition: all 150ms linear;
    }

    .section-text h3 {
        font: 600 6vw/1.6em 'Sanchez';
        display: block;
        margin-bottom: 8px;
        transition: all 150ms linear;
    }
}

@media screen and (min-width: 321px) and (max-width: 550px) {
    #hamburger {
        display: block;
        cursor: pointer;
    }
    #desktop-nav{
        z-index: -1;
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        transition: left 200ms linear;
    }
    #desktop-nav.show{
      left: 0%;
    }
    #desktop-nav li {
        width: 100%;
        display: block;
        font-size: 1.5em;
        padding: 12px;
        border-bottom: 1px solid #000;
        background: #FAF3DD;
        font-family: 'Quicksand', 'sans-serif'
    }
    .subnav{
      display: none;
    }
    nav a{
      color: #444;
    }
    ul li:hover ul {
        display: none;
    }
    .hover-border::after{
      display: none;
    }

    /* ----------------------------- */
    /* ----------- MAIN -----------*/
    /* ----------------------------- */
    .img-section {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;

    }

    .img-section img {
        max-width: 60%;
        z-index: -10;
        transition: all 150ms linear;
    }

    .section-text {
        text-align: center;
        width: 100%
    }

    .section-text p {
        padding: 10px;
        width: 95%;
        margin: 0 auto;
        font: 100 4.5vw/1.6em 'Quicksand';
        transition: all 150ms linear;

    }

    .section-text h3 {
        font: 600 6vw/1.6em 'Sanchez';
        display: block;
        margin-bottom: 8px;
        transition: all 150ms linear;

    }
}


@media screen and (min-width: 551px) and (max-width: 640px) {


    /* ----------------------------- */
    /* ----------- MAIN -----------*/
    /* ----------------------------- */
    .section-text p {
        width: 95%;
        margin: 0 auto;
        font: 100 3vw/1.6em 'Quicksand';
    }

    .section-text h3 {
        font: 600 4vw/1.6em 'Sanchez';
        display: block;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 641px) and (max-width: 750px) {
    .section-text p {
        width: 95%;
        margin: 0 auto;
        font: 100 3vw/1.6em 'Quicksand';
    }

    .section-text h3 {
        font: 600 4vw/1.6em 'Sanchez';
        display: block;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 751px) and (max-width: 1080px) {
    .section-text p {
        width: 95%;
        margin: 0 auto;
        font: 100 2.5vw/1.6em 'Quicksand';
    }

    .section-text h3 {
        font: 600 3.5vw/1.6em 'Sanchez';
        display: block;
        margin-bottom: 8px;
    }

}

@media screen and (min-width: 1081px) and (max-width: 1366px) {
    .section-text p {
        font-size: 2vw;
    }

    .section-text h3 {
        font-size: 3.4vw;
        display: block;
        margin-bottom: 8px;
    }
}
