@charset "UTF-8";

@media screen and (min-width:0) and (max-width:320px) {
    #hamburger {
        display: block;
    }

    #desktop-nav {
        display: none;
    }


    .img-section {
        display: none;
    }

    .section-text {
        text-align: center;
        width: 100%;
        transition: all 150ms linear;
        padding: 15px;
        margin: 0;
    }

    .section-text p {
        width: 95%;
        margin: 0;
        font: 100 16px/1.6em 'Quicksand';
        transition: all 150ms linear;
    }

    .section-text h3 {
        font-size: 20px;
        display: block;
        transition: all 150ms linear;
    }

    #section-one h3,
    #section-one p,
    #section-three h3,
    #section-three p {
        padding: 0;
    }

    .col1,
    .col2,
    .col3 {
        width: 100%;
    }

    .col2 {
        border-right: none;
        border-left: none;
    }

}

@media screen and (min-width:321px) and (max-width:550px) {
    #hamburger {
        display: block;
        cursor: pointer;
    }
    #desktop-nav{
      display: none;
    }
    .subnav {
        display: none;
    }

    /* nav a {
        color: #444;
    } */

    ul li:hover ul {
        display: none;
    }

    .hover-border::after {
        display: none;
    }

    /* #desktop-nav {
        z-index: -1;
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        transition: left 200ms linear;
    }

    #desktop-nav.show {
        left: 0%;
    }

    #desktop-nav li {
        width: 100%;
        display: block;
        font-size: 1.5em;
        padding: 12px;
        border-bottom: 1px solid #000;
        background: #FAF3DD;
        font-family: 'Quicksand', 'sans-serif'
    } */

    .subnav {
        display: none;
    }

    nav a {
        color: #444;
    }

    ul li:hover ul {
        display: none;
    }

    .hover-border::after {
        display: none;
    }

    .img-section {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .img-section img {
        max-width: 60%;
        transition: all 150ms linear;
    }

    .section-text {
        text-align: center;
        padding: 0 20px;
        width: 100%;
        transition: all 150ms linear;
    }

    .section-text p {
        width: 100%;
        font: 100 4.5vw/1.6em 'Quicksand';
        transition: all 150ms linear;
    }

    .section-text h3 {
        font-size: 6vw;
        display: block;
        transition: all 150ms linear;
    }

    #section-one h3,
    #section-one p,
    #section-three h3,
    #section-three p {
        padding-left: 0;
    }

    .col1,
    .col2,
    .col3 {
        width: 100%;
    }

    .col2 {
        border-right: none;
        border-left: none;
    }

    .img-title{
      font-size: 40px;
    }
    .img-quote{
      font-size: 24px;
    }
    .img-quote .quote-border{
      padding: 8px;
    }
    .carousel-container{
      margin: 0 0 20% 0;
    }

}

@media screen and (min-width:551px) and (max-width:640px) {
    #desktop-nav{
      display: none;
    }
    #hamburger{
      display: block;
    }
    .subnav {
        display: none;
    }

    nav a {
        color: #444;
    }

    ul li:hover ul {
        display: none;
    }

    .hover-border::after {
        display: none;
    }

    /* ----------------------------- */

    /* ----------- MAIN -----------*/

    /* ----------------------------- */

    .section-text h3 {
        font-size: 3em;
    }
    .section-text p {
        width: 95%;
        font: 100 1.8em/1.6em 'Quicksand';
    }

    .col1,
    .col2,
    .col3 {
        width: 100%;
    }

    .col2 {
        border-right: none;
        border-left: none;
    }

    .img-quote{
      font-size: 30px;
    }
    .img-quote .quote-border{
      padding: 14px;
    }
    .carousel-container{
      margin: 0 0 20% 0;
    }

}

@media screen and (min-width:641px) and (max-width:750px) {
    #desktop-nav li{
      font-size: 0.9em;
    }

    .section-text p {
        width: 95%;
        font: 100 1.8em/1.6em 'Quicksand';
    }

    .section-text h3 {
        font-size: 3.5em;
        display: block;
    }

    .carousel-container{
      margin: 0 0 20% 0;
    }
    .img-title{
      font-size: 56px;
    }
    .img-quote{
      font-size: 34px;
    }
    .img-quote .quote-border{
      padding: 14px;
    }

}

@media screen and (min-width:751px) and (max-width:1080px) {
    .section-text {
        text-align: left;
    }

    .section-text p {
        width: 95%;
        font: 100 2.5vw/1.6em 'Quicksand';
    }

    .section-text h3 {
        font-size: 30px;
        display: block;
        transition: all 150ms linear;

    }

    .img-title{
      font-size: 64px;
    }
    .img-quote{
      font-size: 42px;
    }
    .img-quote .quote-border{
      padding: 20px;
    }

}

/* ----------------------------- */

/* -------- PARTNERS ------------*/

/* ----------------------------- */

/* .section-one, .section-two, .section-three, .img-section {
width: 100%;
} */
@media screen and (min-width:1081px) and (max-width:1366px) {
    .section-text p {
        font-size: 2vw;
    }

    .section-text h3 {
        font-size: 3.4vw;
        display: block;
    }

    .img-title{
      font-size: 64px;
    }
    .img-quote{
      font-size: 42px;
      top: 55%;
    }
    .img-quote .quote-border{
      padding: 20px;
    }

}
