@charset "UTF-8";

/* ----------------------------- */

/* ----------- RESETS -----------*/

/* ----------------------------- */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    overflow-x: hidden;
}

body {
    background: #079;
}

html {
    height: 100%;
}


div,
nav,
main,
section,
aside,
header,
footer {
    float: left;
    width: 100%;
    position: relative;
    display: block;
}

a {
    text-decoration: none;
    color: #000;
}

.contribute a {
  font-family: "Quicksand";
  display: block;
  background: #fff;
  min-width: 100px;
  max-width: 148px;
  height: 35px;
  padding: 8px;
  border-radius: 100px;
  margin: auto;
}
.contribute a:hover{
  background: #FFA800;
}

ul {
    list-style: none;
    position: relative;
}

h3,
p {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}


/* ----------------------------- */

/* ----------- HEADER --------------*/

/* ----------------------------- */
header p {
    padding: 0 0 0 50px;
    font-size: 28px;
    color: #fff;
    margin: 0;
}

/* ----------------------------- */

/* ----------- NAV --------------*/

/* ----------------------------- */
nav {
    text-align: right;
    background: #444;
    z-index: 10000;
}

/* to fix: some areas of logo not clickable when full nav bar displayed */
#nav-logo,
nav img{
  display: inline-block;
  float: left;
  height: 65px;
  margin: 5px;
}

nav a {
    color: #eee;
}

ul {
    font: 100 1.2em/1.2em 'Quicksand', 'sans-serif';
    margin-right: 15px;
    padding: 0;
    top: 1rem;
}

#donate {
    /*background: #0090ff;*/
    color: #eee;
    padding: 10px;
    /*border-radius: 2px;*/
}

#donate:hover {
    background: linear-gradient(to right, #E29587, #D66D00);
    background-size: 300% 300%;
    -webkit-animation: donateGradient 5s ease infinite;
    -moz-animation: donateGradient 5s ease infinite;
    -o-animation: donateGradient 5s ease infinite;
    animation: donateGradient 5s ease infinite;
}

@-webkit-keyframes donateGradient {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }

}

@-moz-keyframes donateGradient {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }

}

@-o-keyframes donateGradient {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }

}

@keyframes donateGradient {
    0% {
        background-position: 0% 54%
    }

    50% {
        background-position: 100% 47%
    }

    100% {
        background-position: 0% 54%
    }

}



/* ----------------------------- */

/* -------- MOBILE NAV ----------*/

/* ----------------------------- */
#hamburger {
    display: none;
    float: right;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: -1;
}


ul li {
    display: inline;
    padding: 5px;
    position: relative;
    font-family: 'Sanchez', 'serif';
    font-size: 1em
}

ul ul {
    font: 100 1rem/1.2em 'sans-serif';
    display: none;
    border-radius: 2px;
    position: absolute;
    text-align: left;
    margin: 0;
    padding: 0;
    left: 0;
    top: 100%;
    list-style: none;
    background-color: #444;
}

#donate>.subnav{
    position: absolute;
    left: -38%;
    width: auto;
}

ul ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    margin: 0;
}

ul ul li {
    display: block;
    width: 140px;
    transition: all 350ms ease;
}

ul ul li:hover {
    background: #FFA800;
    cursor: pointer;
}

ul li:hover ul {
    display: block;
}

.center {
    text-align: center;
    margin-top: 20%
}

.hover-border {
    position: relative;
    display: inline;
}

/*.hover-border:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-image: background: -webkit-linear-gradient(left, #E29587, #D66D00);
    background-image: background: -o-linear-gradient(left, #E29587, #D66D00);
    background-image: background: linear-gradient(to right, #E29587, #D66D00);
    bottom: 0;
    left: 50%;
    border-radius: 10px;
    transition: all 250ms ease-out;
}*/
.hover-border:before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: #fff;
    opacity: 0.25;
    top: 0;
    left: 50%;
    border-radius: 10px;
    transition: all 250ms ease-out;
}

.hover-border:hover:after,
.hover-border:hover:before {
    left: 0;
    width: 100%;
}


/* ------------------------------------------------------------------------- */
/* ----------------------------- CONTENT BORDER------------------------------*/
/* ------------------------------------------------------------------------- */


.content-border:after {
    content: '';
    position:absolute;
    top: -25px;
    left: 0;
    width: 0;
    opacity: 0;
    border: 1px solid #90c2e7;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
}

.copy-block:hover .content-border:after{
    width: 60%;
    opacity: .5;
}

.content-border:before {
    content: '';
    position:absolute;
    bottom: -25px;
    right: 0;
    width: 0;
    opacity: 0;
    border: 1px solid #90c2e7;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
}

.copy-block:hover .content-border:before{
    width: 60%;
    opacity: .5;
}


.intx-border:after {
    content: '';
    position:absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    border: 1px solid #90c2e7;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.copy-block:hover .intx-border:after{
    height: 60%;
    opacity: .5;
}

.intx-border:before {
    content: '';
    position:absolute;
    bottom: -25px;
    right: 0;
    width: 0;
    height: 0;
    opacity: 0;
    border: 1px solid #90c2e7;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.copy-block:hover .intx-border:before{
    height: 40%;
    opacity: .5;
}

/*.scrollY-position {
    font: 600 3em/1.2em "Sanchez";
    background: #fff;
    color #333;
    display: inline-block;
    position: fixed;
    z-index: 50000;
}*/

/* ------------------------------------------------------------------------- */
/* --------------------------------- CAROUSEL--------------------------------*/
/* ------------------------------------------------------------------------- */
.carousel-container{
  height: 75vh;
  margin: 0;
  background: #fff;
  margin-bottom: 10%;
}
#slider-area{
  position: absolute;
  height: 75vh;
  width: 100%;
  top: 0;
  left: 0;
}
#slider-area .owl-item div{
  height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.img-title{
    position: absolute;
    top: 30%;
    width: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    letter-spacing: 8px;
    text-transform: uppercase;
    z-index: 10000;
}
.title-border{
  background: #0061ab;
  padding: 10px 15px;
  opacity: 0.70;
  border: solid 1px;
}
.img-quote {
    position: absolute;
    top: 51%;
    width: 100%;
    text-align: center;
    font-size: 61px;
    font-family: 'Cookie', 'cursive';
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.78);
    z-index: 10000;
}

.img-quote .quote-border {
    color: #fff;
    padding: 20px;
}



/* ------------------------------------------------------------------------- */

/* --------------------------------- MAIN------------------------------------*/

/* ------------------------------------------------------------------------- */

#one {
    background: url('../img/29197059_1461610727280799_6782776413003972608_n.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    /*margin-bottom: 25%;*/
}
#two {
    background: url('../img/37232359_1596004380508099_6557426127592226816_o.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    /* margin-bottom: 25%; */
}

.copy-block {
  display: flex;
  padding: 20vh 0;
  justify-content: center;
}

.copy-blockpartners {
  display: flex;
  padding: 0;
  justify-content: center;
}

.content {
  min-width: 300px;
  max-width: 600px;
  color: #fff;
}

.content h3 {
  font: 600 3.3em/1.5em "Sanchez";

}
.content p {
  font: 400 1em/1.5em "Quicksand";
}

#three {
    background: url('../img/11194448_10100253446553046_5930820041322027836_o.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    /* margin-bottom: 25%; */
}
#four {
    background: url('../img/tumblr_mn8b8sLRb61rkz363o1_1280.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /*background-attachment: fixed;*/

}
.overlay  {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 20;
    background: rgba(190, 90, 210, .2);
}

.text {
    color: #eee;
    text-align: left;
    margin:0;
    width: 60%;
    padding: 5%;
    position: absolute;
    z-index: 10;
    height: 100%;
}


#particles-js {
    height: 300px;
}

.text>h3 {
    font: 600 3.3em/2.6em "Sanchez";
}

.text>p {
    font: 600 1.8em/2em "Quicksand";
}


.hp-partners {
}
.hp-partners h3 {
  font: 600 3.3em/2.6em "Sanchez";
  color: white;
}

.hp-partners .partner-list {
  display: flex;
  flex-wrap:wrap;
}
.hp-partners .partner-item {
  width: 33.3%;
  padding: 10px;
}
@media (max-width: 960px){
  .hp-partners .partner-item {
      width: 50%;
  }
}
@media (max-width: 700px){
  .hp-partners .partner-item {
      width: 100%;
  }
}


.partner-img {
  width: 100%;
  height: auto;
}


/* ------------------------------------------------------------------------- */

/* ------------------------------ PARTNERS ----------------------------------*/

/* ------------------------------------------------------------------------- */

section.partner {
    width: 100%;
    height: auto;
    padding: 0 15%;
    margin: auto;
}

.partner-img img {
    max-width: 90%;
}

section.partner img {
    border-radius: 0;
}

.partner.lg-logo {
    width: 60%;
}



/* ----------------------------- */

/* ---------- DONATE ------------*/

/* ----------------------------- */

/* MAIN IMAGE */
#img-container{
  height: 75vh;
  margin: 0;
  background: #fff;
  overflow: hidden;
}
#take-action-img{
  height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}
#take-action-title{
  top: 60%;
  letter-spacing: 4px;
  text-transform: none;
  font-size: 54px;
  border: none;
}
  #take-action-title::after{
    content: "";
    width: 3px;
    background: #fff;
    height: 300px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000000;
    top: 115%;
    opacity: 0.75;
  }
#take-action-border{
  border: 3px solid #fff;
}

/* MAIN CONTENT */
.action-container{
  height: 400px;
}
#donate-container::before{
  content: "";
  width: 3px;
  height: 10%;
  background: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-2px);
  opacity: 0.75;
}
#donate-container::after{
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: 0.75;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
#volunteer-container{
  background: #FFA800;
}
#partner-container{
  background: #888;
}
.action-text{
  width: 50%;
  height: 100%;
  margin: 80px 0 0 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.action-text .content{
  text-align: justify;
  padding: 0 0 0 10%;
}
  #content-right{
    padding: 0 10% 0 0;
  }
.content p{
  font-size: 1.2em;
}
.action-button{
  display: inline-block;
  position: relative;
  margin: 20px 0 0 0;
  text-decoration: none;
  font-family: "Quicksand";
  color: #fff;
  font-size: 1.2em;
  background: #13B31B;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  /* padding: 15px 50px 15px 15px;
  -webkit-transition: all 400ms;
  transition: all 400ms; */
}
/* .action-button::after{
  font-awesome heart w/ color change transition
} */
#volunteer-button{
  background: #0190FF;
  left: 40%;
}
#partner-button{
  background: #FEA701;
}
.action-logo-container{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-size: cover;
}
#volunteer-logo{
  background-image: url(../img/volunteer.png);
  border: 7px solid #0190FF;
}
#donate-logo{
  background-image: url(../img/donate.png);
  border: 7px solid #13B31B;
}
#partner-logo{
  background-image: url(../img/partner.png);
  border: 7px solid #FEA701;
}



/* ----------------------------- */

/* ---------- FOOTER ------------*/

/* ----------------------------- */
footer {
    background: #444;
    padding: 20px 10%;
    text-align: center;
}

footer a {
    color: #888;
}

.col1 {
    color: white;
    width: 33%;
}

.col1 ul{
  top: 0rem;
}

.col1 ul{
  top: 0rem;
}
.col2 {
    color: #888;
    font-size: 20px;
    width: 34%;
    font-size: 1em;
    font-family: 'Quicksand';
    padding: 1%;
    border-right: 1px solid #678;
    border-left: 1px solid #678;
}

.col2 p {
    color: #fff;
    font-family: 'Sanchez';
    margin-bottom: 0px;
}

.col2 p {
    color: #fff;
    font-family: 'Sanchez';
    margin-bottom: 0px;
}

.col3 {
    color: #888;
    font-size: 1rem;
    width: 33%;
    font-family: 'Quicksand';
    padding: 3.5%;
     /*border-right: 2px solid #678;*/
}

.fab {
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: 600;
    color: #eee;
    background: #888;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.fab:hover{
  background: #FFA800;
}

/*.fa-instagram:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.fa-facebook-f:hover {
    background: #3c5998;
}

.fa-twitter:hover {
    background: #1da1f2;
}*/

.socialicons {
    padding: 1px 10px;
}

/* ----------------------------- */

/* ------- WHAT WE DO  ----------*/

/* ----------------------------- */
.wwd-list {
    font: 100 1.2em/1.2em 'Serif';
}

.text li {
    display: block;
    font-size: 16px;
    line-height: normal;
}

/*-----------------------------------------------*/

/*----------------- SOCIAL PAGE -----------------*/

/*-----------------------------------------------*/


.posting-details {
    color: #cdcdc1;
    font-size: .7em;
    background: #3b5998;
    margin: 0;
    padding: 5px;
}

.date {
    margin: 0;
    color: #eee;
}

.user-name {
    font-size: 1.2em;
    color: #eee;
}

.comment {
    font: 100 .9em/1.4em 'sans-serif';
    color: #333;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
}

.tile-wrap {
    width: 100%;
    margin: 0 auto;
    float: left;
}

#social-stream {
    float: none;
    display: block;
    width: 80%;
    margin: 0 auto;
}

.social-tile {
    display: inline-block !important;
    margin: 10px;
    max-width: 225px;
    outline: 2px solid #ddd;
    box-shadow: 2px 2px 10px rgba(100, 100, 100, .7);
}

.social-wrapper {
    background: #cacac5;
    padding: 2px;
    width: 100%;
}

.icon-wrap {
    text-align: right;
    background: #ebebe0;
    padding: 5px 8px;
    width: 100%;
}

.share {
    width: 50%;
    top: 50%;
    padding: 0;
    text-align: left;
}

.far,
.fas {
    padding: 4px;
    cursor: pointer;
    border-radius: 45%;
    transition: all 90ms ease-in-out;
}

.thumb-clicked {
    background: #3b5998;
    color: #eee;
}

.scale {
    transform: scale(1.2);
}

.unscale {
    transform: scale(1);
}

.heart-clicked {
    background: #d44;
    color: #eee;
}

/*-----------------------------------------------*/

/*--------------END SOCIAL PAGE -----------------*/

/*-----------------------------------------------*/




/*-----------------------------------------------*/

/*----------------- FOUNDER PAGE -----------------*/

/*-----------------------------------------------*/

.jim {
    width: 80%;
    height: auto;
}
.siena {
    align-items: flex-start;
    width:100%;
    height: auto;
}
.narrow-view {
    padding: 10vh;
}


article {

  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
}

article {
  -moz-column-width: 30vh;
  -webkit-column-width: 30vh;
  column-width: 30vh;
}

article {
  -webkit-column-gap: 10vh;
  -moz-column-gap: 10vh;
  column-gap: 10vh;
}

article {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
}


article h3 {
  -webkit-column-span: all;
  column-span:all;
}


/*-----------------------------------------------*/

/*----------------- MODAL  ----------------------*/

/*-----------------------------------------------*/


.overlay {
    background: #FEA701;
    opacity: .9;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 10; */
    z-index: -1;
    transition: all 500ms ease;
}

.modal {
  height: 500px;
  max-width:40%;
  padding: 10px;
  background: #3b5998;
  border-radius: 5px;
  border: 2px solid #30d9ff;
  box-shadow: 2px 2px 12px #111;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 20; */
  z-index: -1;
  text-align: center;
  transition: all 500ms ease;
}


.modal-left, .modal-right {
  width: 50%;
}

.modal-left:after {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 1px;
  height: 50%;
  border-right: 1px solid #114
}

.modal h3 {
  font: 600 1.8em/1.8em "Sanchez";
  color: #eee;
}

.modal h4 {
  font-weight: 600;
  font-size: 1.5em;
  font-family: 'Sanchez', 'serif';
  margin: 1rem 0 ;
  color: #eee;
}

.modal p {
  font: 600 1.2em/1.2em "Quicksand";
  color: #114;
  padding: 10px;
}

.fa-window-close {
  font-size: 1.4em;
  float: right;
}

.hide-modal {
  opacity: 0;
}

.show-modal {
  opacity: 1;
  z-index: 20;
}

.show-overlay{
  z-index: 10;
}
