@charset "UTF-8";

/* ----------------------------- */
/* ----------- RESETS -----------*/
/* ----------------------------- */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    background: url('../img/particles-bg.png');
    width: 100%;
}

img {
    max-width: 100%;
}

div, nav, main, section, aside, header, footer {
    float: left;
    width: 100%;
    position: relative;
    display: block
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    position: relative;
}

/* ----------------------------- */
/* ----------- HEADER --------------*/
/* ----------------------------- */
header p {
    padding: 0 0 0 50px;
    font-size: 28px;
    color: #fff;
    margin: 0;
}

/* ----------------------------- */
/* ----------- NAV --------------*/
/* ----------------------------- */
nav {
    text-align: right;
    background: #444;
    z-index: 10000;
}

nav img {
    display: block;
    float: left;
    height: 65px;
    margin: 5px;
}

nav a {
    color: #eee;
}

ul {
    margin-right: 20px
}

#donate a {
    color: #444;
}

#donate {
    background: #f99;
    padding: 10px;
    border-radius: 2px;
}

#hamburger {
    display: none;
    float: right;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: -1;
}

#mobile-nav {
    display: none;
}

ul li {
    display: inline;
    padding: 5px 5px 5px 25px;
    position: relative;
}

ul ul {
    font: 100 1.2rem/1.2em 'sans-serif';
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 100%;
    list-style: none;
    background-color: rgba(10, 100, 52, .3);
    padding: 5px;
}

ul ul li {
    display: block;
    margin: 0;
}

ul ul li:hover {
    background: #3ea;
}

ul ul li a:hover {
    color: #000;
    width: auto;
}

ul li:hover ul {
    display: block;
}

.center {
    text-align: center;
    margin-top: 20%;
}

.hover-border {
    /* font-family: 'Quicksand', sans-serif; */
    font: 400 1.6em/1.5em 'Quicksand', 'sans-serif';
    position: relative;
    display: inline;
}

.hover-border:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #D66D75;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    bottom: 0;
    left: 50%;
    border-radius: 10px;
    transition: all 90ms ease-out;
}

.hover-border:hover:after {
    left: 0;
    width: 100%;
}

/* ----------------------------- */
/* ------------ MAIN ------------*/
/* ----------------------------- */
section {
    font: 100 2vw/1.6em 'Quicksand', 'sans-serif';
    margin: 15px auto;
}

.section-text {
    padding: 10px;
}

.img-section img {
    border-radius: 50%;
    padding: 10px;
}

h3 {
    font: 600 4vw/1.5em 'Sanchez';
    margin-bottom: 2%;
}

#section-one {
    background: #555;
}

#section-two {
    background: #666;
}

#section-three {
    background: #777;
}

#section-four {
    background: #888;
}

/* ----------------------------- */
/* ---------- DONATE ------------*/
/* ----------------------------- */
#jumbotron, footer {
    text-align: center;
    margin: 0 auto;
}

#jumbotron {
    margin-bottom: 10%;
    max-width: 100%;
}

footer {
    margin: 0;
    max-width: 100%;
    height: 100px;
    background: #333;
}

main {
    text-align: center;
}

main p {
    width: 85%;
    margin: 0 auto;
}

main div {
    width: 50%;
}

footer ul {}

    .fab {
        font-size: 2em;
    }
