@charset "UTF-8";

@media (max-width: 519px) {
    .bio {
        width: 90%;
    }

    .bio img {
        border-radius: 50%;
        max-width: 90%;
        margin: 0 auto;
        transition: all 150ms linear;
    }
    .bio p, h3  {
        display: none;
        transition: all 150ms linear;
    }

    /* img:hover p {
        opacity: .5;
        display: block;
        font: 100 1.2em/1.6em 'Sanchez';
        color: #fff
    } */

}

@media screen and (min-width: 520px) and (max-width: 760px) {
    #hamburger {
        display: block;
        cursor: pointer;
    }

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        z-index: 5000;
        margin: 0;
        padding: 0;
    }

    #mobile-nav.show {
        display: block;
    }

    #mobile-nav li {
        width: 100%;
        display: block;
        font-size: 1.5em;
        padding: 15px 12px;
        border-bottom: 1px solid #000;
        background: #FAF3DD;
        font-family: 'Quicksand', 'sans-serif'
    }

    #mobile-nav li:hover {
        opacity: 0.8;
    }

    .content-wrapper {
        margin: 0 8%;
    }

    .bio {
        width: 90%;
    }

    .bio img {
        float: left;
        border-radius: 50%;
        max-width: 40%;
        transition: all 150ms linear;
    }

    .bio p, .bio h3 {
        font: 100 1.2rem/1.6em 'Sanchez';
        transition: all 150ms linear;
    }
}


@media screen and (min-width: 761px) and (max-width: 1024px) {
    .content-wrapper {
        margin: 0 6%;
    }

    .bio {
        text-align: center;
        width: 40%;
        margin: 10px;
        background: #ababa0;
    }

    .bio img {
        border-radius: 50%;
        max-width: 75%;
    }

    .bio p, .bio h3 {
        font: 100 2vw/1.6em 'Sanchez';
        padding: 10px;
    }
}
