@charset "UTF-8";

/* ----------------------------- */
/* ----------- RESETS -----------*/
/* ----------------------------- */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;

}

div, nav, main, section, aside {
    float: left;
    width: 100%;
    position: relative;
    display: block
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    position: relative;
}

/* ----------------------------- */
/* ----------- NAV --------------*/
/* ----------------------------- */
nav {
    text-align: center;
    z-index: 100;
}

nav img {
    display: block;
    float: left;
    height: 65px;
    margin: 5px;
}

#hamburger {
    display: none;
    float: right;
    position: absolute;
    right: 15px;
    top: 15px;
}

#mobile-nav {
    display: none;
}

ul li {
    display: inline;
    padding: 5px;
    position: relative;
}

ul ul {
    font: 100 1.2rem/1.5em 'sans-serif';
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 100%;
    list-style: none;
    background-color: rgba(10, 100, 52, .2);
    padding: 5px;
}

ul ul li {
    display: block;
    /* background: #fdd; */
    margin: 0;
}

ul ul li:hover {
    background: #3ea;
}

ul li:hover ul {
    display: block;
}

.center {
    text-align: center;
    margin-top: 20%;
}

.hover-border {
    /* font-family: 'Quicksand', sans-serif; */
    font: 100 1.6em/1.5em 'Quicksand', 'sans-serif';
    position: relative;
    display: inline;
}

.hover-border:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #D66D75;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    bottom: 0;
    left: 50%;
    border-radius: 10px;
    transition: all 90ms ease-out;
}

.hover-border:hover:after {
    left: 0;
    width: 100%;
}

hr {
    width: 85%;
}

/* ----------------------------------------------------------------- */
/* -------------------- TEMPORARY STYLES (TESTING) ------------------*/
/* ----------------------------------------------------------------- */


header {
    /* margin-bottom: 150px; */
    /* background: #f99;
    height: 100vh; */
}

/* ----------------------------------------------------------------- */
/* -------------------- END TEMPORARY STYLES ----------------------- */
/* ----------------------------------------------------------------- */



/* ----------------------------- */
/* ------ MODAL NAV----------*/
/* ----------------------------- */
/* nav {
    position: relative;
}

nav:hover .modal-nav {
    display: block;
    width: 1300px;
}

.modal-nav {
    display: hidden;
    color: #ddd;
    height: 500px;
    width: 1300px;
    background: rgba(10, 22, 44, .8);
    position: absolute;
    margin: 5% auto 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    transition: all 300ms ease-out;
}

.modal-info {
    width: 25%;
} */
/* ----------------------------- */
/* ------ HAMBURGER NAV----------*/
/* ----------------------------- */
.nav-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
}

#nav {
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    text-align: left;
    margin: 0;
    display: none;
}

#nav.show {
    display: block;
}

#nav>li {
    background: #3f9cc6;
    border: 1.5px solid #000;
    border-bottom: 0;
    width: 185px;
    line-height: 45px;
    color: #eee;
    font-size: 1.4em;
    position: relative;
}

.expand::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107"; // angle down
    padding: 0 0 0 60px;
    position: absolute;
    right: 10px;
}

.expand.expanded::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106"; // angle up
    padding: 0 0 0 60px;
    position: absolute;
    right: 10px;
    top: 0px;
}

#nav>li:last-child {
    border-bottom: 1.5px solid #000;
}

#nav>li:hover {
    background-color: #62add0;
    cursor: pointer;
}

#nav>li span {
    padding: 0 0 0 20px;
}

.sub-nav {
    list-style: none;
    text-align: center;
    margin: 0;
    display: none;
    padding: 0;
}

/* .sub-nav.show{
  display: block;
} */
.sub-nav>li {
    color: #d9d9d9;
    background-color: #235c76;
    font-size: 0.8em;
    width: 185px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.sub-nav>li:hover {
    opacity: .8;
}

.sub-nav>li a {
    text-decoration: none;
    color: #eee;
}

/* ----------------------------- */
/* ------------ MAIN ------------*/
/* ----------------------------- */
/* ----------------------------- */
/* ---------- DONATE ------------*/
/* ----------------------------- */
q {
    font-style: italic;
}

/* ----------------------------- */
/* ---------- WIREFRAME----------*/
/* ----------------------------- */
#jumbotron, footer {
    text-align: center;
    margin: 0 auto;
}

#jumbotron {
    margin-bottom: 100px;
    max-width: 100%;
}

footer {
    margin: 0 auto;
    width: 1300px;
    height: 300px;
    background: #333;
}

.nav {
    background-image: url("https://picsum.photos/1400/100");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    font: 400 1.2em/1.6em 'sans-serif';
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

main p {
    width: 85%;
    margin: 0 auto;
}

main div {
    width: 50%;
}

/* section {
    margin: 50px 0;
} */
footer ul {}

.fab {
    font-size: 2em;
}

/* ----------------------------- */
/* ---------- BIOS --------------*/
/* ----------------------------- */
#bio-section {
    background: #cacac5;
}


.content-wrapper {
    margin: 0 6%;

}

.bio {
    text-align: center;
    width: 28%;
    margin: 10px;
    background: #ababa0;
    transition: all 150ms linear;

}

.bio img {
    border-radius: 50%;
    max-width: 75%;

    padding: 10px;

}


.bio p {
    font: 400 1.5vw/1.6em 'Sanchez';
    padding: 10px;

}
